@media (min-width: 995px){
    .container--width {
        width: 85%;
    }

    .main__container {
        height: auto;
        margin-top: 2rem;
        grid-template-rows: max-content;
    }

    .main__title {
        font-size: 12rem;
    }

    .main__image-1 {
        width: 9rem;
        top: -1rem;
        left: -6.5rem;
    }

    .main__image-2 {
        top: -5rem;
        left: 85%;
    }

    .main__image-3 {
        bottom: -1rem;
        left: 56%;
    }

    .main__image-4 {
        bottom: 0;
    }

    .main__image-5 {
        top: -5%;
    }

    .main__image-6 {
        top: 40%;
        right: -6rem;
    }

    .main__figure {
        margin-top: 3rem;
        position: relative;
    }
}