:root {
    --blue: #013243;
    --blue-soft: #34fccd;
    --white: #a9bdc6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

.body__container {
    max-width: 120rem;
    background-color: var(--blue);
}

.header__container {
    height: 6rem;
}

.container--flex {
    display: flex;
    align-items: center;
}

.main__container {
    height: 95vh;
    padding-bottom: 2rem;
    display: grid;
    position: relative;
}

.container--width {
    width: 90%;
}

.element--margin-auto, .container--margin-auto {
    margin: 0 auto;
}

.main__div {
    margin-top: 10rem;
    align-self: flex-start;
    z-index: 10;
}

.element--absolute, .container--absolute {
    position: absolute;
}

.main__image-1 {
    width: 10rem;
    top: 1.5rem;
    left: 2rem;
}

.main__image-2 {
    width: 15rem;
    top: 0;
    left: 52%;
}

.main__image-3 {
    width: 13rem;
    top: 59%;
    left: 59%;
}

.main__list {
    visibility: hidden;
}

.main__title {
    color: var(--blue-soft);
    font-size: 4.1rem;
}

.main__content {
    max-width: 39rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 3rem 0 2.5rem 0;
}

.element--size, .container--size {
    font-size: 2rem;
}

.element--color {
    color: var(--white);
}

.main__button {
    width: 24rem;
    height: 6.5rem;
    padding: 1rem 1.4rem;
    color: var(--blue);
    font-weight: 800;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    border: transparent;
    background-color: var(--blue-soft);
}

.main__figure {
    height: 4rem;
    column-gap: 1rem;
    font-size: 1.4rem;
    bottom: 2rem;
}

.figure__image {
    width: 3.4rem;
}
