@media (min-width: 624px){
    .main__title {
        font-size: 7.8rem;
    }

    .main__list {
        visibility: visible;
    }

    .main__image-2 {
        width: 14rem;
        top: -22%;
        right: 2%;
    }

    .main__image-3 {
        width: 11rem;
        top: -21rem;
        right: calc(0% + 17%);
    }

    .main__image-4 {
        width: 18rem;
        top: calc(100% - 9rem);
        right: 4rem;
    }

    .main__image-5 {
        width: 9rem;
        top: 16%;
        right: 25%;
    }

    .main__image-6 {
        width: 9rem;
        top: 29%;
        right: 0;
    }

    .main__figure {
        top: 8rem;
    }
}